[submodule "hdfs/source"]
	path = hdfs/source
	url = git@github.com:rayandrews/custom-hadoop.git
[submodule "cassandra/source"]
	path = cassandra/source
	url = git@github.com:rayandrews/custom-cassandra.git
[submodule "hbase/source"]
	path = hbase/source
	url = git@github.com:rayandrews/custom-hbase.git
